{% extends 'base_nav.html' %}

{% block container %}
<main class="container mt-3">
    <!-- HERO -->
    <div class="row mt-5">
        <div class="col-10 col-md-6 offset-1 offset-md-3">
            <div class="card mb-3">
                <div class="card-body text-center pt-5">
                    <img src="{{ url_for('static', filename='check.png') }}" class="mb-3" width="65" alt="">
                    <h2 class="h3 card-title mt-4 mb-2">{% block h2 %}{% endblock %}</h2>
                    <p>Скоро мы вам перезвоним</p>
                </div>
                <hr/>
                <div class="card-body mx-5">
                    {% block card %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}