{% extends 'base_nav.html' %}

{% block container %}
<main class="container mt-3">
    <div class="row mt-5">
        <div class="col-10 col-md-6 offset-1 offset-md-3 mb-3">
            <form action="{{ url_for('send_booking') }}" class="card mb-3" method="post">
                <div class="card-body text-center pt-5">
                    <img src="{{ booking_data.teacher.picture }}" class="mb-3" width="95" alt="">
                    <h2 class="h5 card-title mt-2 mb-2">{{ booking_data.teacher.name }}</h2>
                    <p class="my-1">Запись на пробный урок</p>
                    <p class="my-1">{{ booking_data.day }}, {{ booking_data.hour }}</p>
                </div>
                <hr/>
                <div class="card-body mx-3">
                    <label class="mb-1 mt-2" for="clientName">Вас зовут</label>
                    <input class="form-control" type="text" id="clientName" name="clientName" placeholder="Фамилия Имя" required>
                    <label class="mb-1 mt-2" for="clientPhone">Ваш телефон</label>
                    <input class="form-control" type="tel" id="clientPhone" name="clientPhone" required>

                    <input name="bookingDay" type="hidden" value="{{ booking_data.day }}">
                    <input name="bookingHour" type="hidden" value="{{ booking_data.hour }}">
                    <input name="bookingTeacher" type="hidden" value="{{ booking_data.teacher.id }}">

                    <input type="submit" class="btn btn-primary btn-block mt-4" value="Записаться на пробный урок">
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}