{% extends 'base_nav.html' %}

{% block container %}
<main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
        <form action="{{ url_for('send_request') }}" class="card mb-5" method="post">
            {{ form.csrf_token }}
            <div class="card-body text-center pt-5">
                <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
                <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
            </div>
            <hr>
            <div class="card-body mx-3">
                <div class="row">
                    <div class="col">
                        <p>Какая цель занятий?</p>
                        {% for goal in form.goal %}
                            <div class="form-check">
                                {{ goal(class='form-check-input') }}
                                {{ goal.label(class='form-check-label') }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <p>Сколько времени есть?</p>
                        {% for time in form.time %}
                            <div class="form-check">
                                {{ time(class='form-check-input') }}
                                {{ time.label(class='form-check-label') }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr>
            <div class="card-body mx-3">
                {{ form.name.label(text='Вас зовут', class='mb-1 mt-2') }}
                {{ form.name(placeholder='Фамилия Имя', class='form-control') }}

                {{ form.phone.label(text='Ваш телефон', class='mb-1 mt-2') }}
                {{ form.phone(type='tel', class='form-control') }}

                {{ form.submit(value='Найдите мне преподавателя', class='btn btn-primary mt-4 mb-2') }}
            </div>
        </form>
    </div>
</main>
{% endblock %}